/*폰트관련*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/*전체*/
*{
    font-family: 'Pretendard-Regular';
}
a{text-decoration: none;color: inherit;}
.project a:hover{text-decoration: none;}
html{
    scroll-behavior: smooth;
}
h1 a img{vertical-align: baseline;}
/*헤더*/
header{
    width: 100%;height: 82px;
    position: fixed;
    top:0;left:0;
    z-index: 9999;
}
.hd-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;height: 64px;
    position: absolute;
    bottom: 10px;left:50%;
    transform: translate(-50%,0);
}
.hd-center{
    margin-left: 11%;
}
.hd-center p,.hd-right p{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color:#fff;
    line-height: 1.38rem;
    margin-top: 8px;
}

/*메인*/
.main-visual{
    width: 100%;
    overflow: hidden;
}
.empty-contents{
    width: 100vw;
    padding: 0 0 1000vh;
    position: relative;
}
/*scrollFixed 클래스 위쪽*/
.flex-items{
    display: flex;
    flex-direction: row;
    width: 97%;height: 72px;
    color:#fff;
    margin:0 auto;
}
.project , #scroll-Js{
    width: 120px;
    position: relative;
}
.project a,#scroll-Js span{
    position: absolute;
    bottom: 0;
}
.project a sup{
    font-size: 10px;
    margin-left: 3px;
}
#scroll-Js span{
    right:0;
}
.flex-items-center{
    width: calc(100% - 240px);
    text-align: center;
}
.flex-items-center p{
    display: flex;
    flex-direction: column;
}
/*위쪽 글자스타일링*/
.project,.flex-items-center p,#scroll-Js{
    font-size: 20px;
}
#scroll-Js span strong{font-weight: normal;}

/*라인*/
.animateLine{
    width: 100%;height: 24px;
    margin-top: 10px;
}
.animateLine ul{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: inherit;height: 100%;
}
.animateLine ul li{
    width: 100%;height: 7px;
    background-color: #fff;
    position: relative;
    transition: all 2s linear;
    transform: scaleX(0);
    animation-duration: 0.2s;
}
.animateLine ul li:nth-child(2){
    height: 5px;
    animation-duration: 0.7s;
}
.animateLine ul li:nth-child(3){
    height: 2px;
    animation-duration: 1s;
}
.animateLine ul li:last-child{
    height: 1px;
    animation-duration: 1.3s;
}
.animateLine ul li.on{
   animation-name: line;
   animation-fill-mode: both;
}
@keyframes line {
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}
/*횡스크롤스타일링*/
.scroll-fixed{
    width: 100%;height: calc(100% - 337px);
    position: fixed;
    top:0;left:0;
    padding: 327px 0 10px 0;
}
.scroll-wrap{
    width: 5000px;height: 500px;
    position: absolute;
    bottom: 10px;left:0;
    transform: translate(0,0);
    transition: all 0.4s ease-out;
}
ul#app{
    width: 100%;height: 100%;
    display: flex;
    flex-flow: nowrap;
    gap: 10px;
}
#app>li{
    width: 730px;height: 100%;
    flex-shrink: 0;
    opacity: 0;
    transform: translateY(100px);
    position: relative;
}
#app>li.active{
    animation: upper-ani 0.8s 0.4s both linear;
    animation-duration: 0.8s;
}
#app li .background{
    width: 100%;height: 500px;
    overflow:hidden;
    position: relative;
    z-index: -1;
}
#app li .background img{
    width: 100%; height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}
#app li.active:hover .background img{
    transform: scale(1.2);
}
       /*background클래스 텍스트요소 스타일*/
       .picture-hover{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - (20px * 2));height: calc(100% - (18px * 2));
        font-size: 20px;
        padding: 18px 20px;
        position: absolute;
        top:0;left:0;
       }
       .picture_title h3{
        font-size: 20px;
        font-weight: normal;
       }

       .picture_flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
       }
       .picture_flex_title span{
        display: block;
        font-weight: 100;
       }
       .picture_flex_title span:last-child{
        font-size: 16px;
       }
       
       .picture-flex_button{
        width: 40px;height: 40px;
        background: url(../img/ic_link_big.svg) no-repeat center center / cover;
        position: relative;
       }
       #app li.active:hover .picture-flex_button{
        animation: button  0.5s ease-in-out both;
       }
       /*hover애니메이션*/
       @keyframes button {
        0%{
            transform: translate(-30px, -20px);
        }
        100%{
            transform: translate(0,0);
        }
       }
/*scroll부분 애니메이션*/
@keyframes upper-ani {
    0%{
        opacity:0;
        transform: translateY(100px);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}